/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

/* .App {
  display: flex;
  flex-direction: column;
  align-items: center;
} */

/* Header */
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
.header {
  display: flex;
  justify-content: space-between;
  padding: 2% 2%;
  background-color: #805b87;
  color: whitesmoke;
  font-size: large;
  font-weight: 600;
  letter-spacing: 0.1rem;
  /* width: 100%; */
}
.footer {
  background-color: #805b87;
  height: 10vh;
  text-align: center;
  padding-top: 5vh;
  color: whitesmoke;
  font-size: 1.5rem;
  letter-spacing: 0.5rem;
  font-weight: 500;
  margin-top: 5%;
}

.header a {
  color: inherit;
  text-decoration: none;
}
.header-logo {
  width: 30%;
  font-family: 'Abril Fatface', cursive;
  font-size: x-large;
}
.header-list {
  display: flex;
  /* border: 2px solid red; */
  justify-content: space-between;
  margin: 0;
  width: 40%;
}
.header-list li {
  display: inline;
  flex-wrap: wrap;
  cursor: pointer;
}

/* Signup */

.box {
  border: 2px solid #805b87;
  width: 40%;
  margin: auto;
  margin-top: 8%;
  margin-bottom: 20%;
}

.box-header {
  background-color: #805b87;
  padding: 3%;
  font-size: 1.3rem;
  color: whitesmoke;
  letter-spacing: 0.1rem;
}
.box-body {
  margin: 5%;
}
.box-body-top {
  display: flex;
  /* margin-left: 5%;
  margin-right: 5%; */
}

.box-body-bottom {
  margin-left: 3%;
}

.user-form {
  margin: 5%;
  font-size: 1.15rem;
  color: #1d1d1d;
}
.user-form label {
  display: block;
  margin-bottom: 4%;
  /* border: 2px solid red; */
}

.user-form label input {
  width: 90%;
  height: 100%;
  margin-top: 0;
  padding: 0.8rem;
  background-color: inherit;
  border: 0px;
  border-bottom: 1.3px solid #1d1d1d;
  outline: none;
  font-size: 1.15rem;
  /* border-bottom: 2px; */
}

.submit-btn {
  margin-top: 3%;
  margin-bottom: 3%;
  padding: 0.5rem 2rem;
  color: whitesmoke;
  font-size: 1.1rem;
  background-color: #805b87;
  outline: none;
  border: 0px;
  cursor: pointer;
}

.avatar {
  border-radius: 50%;
  width: 80px;
  height: 80px;
}

.profile-btn {
  width: 30px;
  margin-right: 1%;
  /* height: 30px; */
}

.profile-left {
  /* border: 2px solid cadetblue; */
  display: flex;
  justify-content: center;
  width: 20%;
}
.profile-mid {
  /* border: 2px solid blue; */
  width: 60%;
}
.profile-right {
  display: flex;
  /* border: 2px solid red; */
  align-items: center;
  justify-content: space-around;
  width: 20%;
  /* display: flex;
  justify-content: space-between; */
}

.profile-right img {
  cursor: pointer;
}

.posts {
  margin: 2% 20%;
}

.post-box {
  /* border: 2px solid #805b87; */
  border-radius: 20px;
  margin-top: 5%;
  box-shadow: 10px 10px 8px 10px #888888;
  padding: 2% 5% 5%;
  background-color: white;
}

.post-header {
  display: flex;
  justify-content: space-between;
}

.post-avatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
.post-header-left {
  width: 10%;
}

.post-header-mid {
  width: 90%;
}
.post-header-right {
  width: 15%;
}
.post-name {
  letter-spacing: 0.08rem;
  font-size: 0.9rem;
  font-weight: 600;
  color: #1d1d1d;
  text-transform: capitalize;
}
.post-time {
  letter-spacing: 0.05rem;
  font-size: 0.8rem;
  font-weight: 500;
  color: gray;
}

.post-content {
  margin: 1%;
  text-align: justify;
  letter-spacing: 0.01rem;
  font-size: 1rem;
  color: #1d1d1d;
  word-wrap: break-word;
  /* background-color: bisque; */
}

.post-image {
  max-width: 100%;
  display: block;
  margin: auto;
  margin-bottom: 2%;
}

.post-input {
  width: 100%;
  padding: 1%;
  outline: none;
  resize: none;
  font-size: 1rem;
  letter-spacing: 0.02rem;
  border: 0.5px solid #1d1d1d;
  border-radius: 18px;
  text-align: justify;
}

.add-image-icon {
  cursor: pointer;
}
.add-image-area > input {
  display: none;
  /* cursor: pointer; */
}

.post-footer {
  display: flex;
  justify-content: space-between;
  /* text-align: right; */
  margin-left: 1rem;
  font-size: 0.8rem;
  font-weight: 500;
  color: #888888;
}

.post-btn {
  background-color: #805b87;
  color: whitesmoke;
  padding: 10% 20%;
  font-size: 0.9rem;
  font-weight: 500;
  border: none;
  outline: none;
  cursor: pointer;
}

.post-btn:disabled {
  background-color: #b0a0b3;
  color: white;
}

.post-delete-btn {
  width: 25%;
  cursor: pointer;
}

.comment-section {
  border: 1px solid #1d1d1d;
  border-radius: 10px;
  background-color: aliceblue;
  padding: 2% 1%;
}

.comment-header {
  display: flex;
  justify-content: space-around;
  margin-bottom: 3%;
}

.comment-input {
  width: 80%;
  padding: 0.5rem;
  font-size: 1rem;
  outline: none;
  border: 0px;
  border-bottom: 1px solid #1d1d1d;
  background-color: transparent;
}

.comment-btn {
  background-color: #805b87;
  color: whitesmoke;
  padding: 1% 2%;
  font-size: 0.9rem;
  font-weight: 500;
  border: none;
  outline: none;
  cursor: pointer;
}
.comment-btn:disabled {
  background-color: #b0a0b3;
  color: white;
}

.comment-avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 2%;
}

.single-comment-header {
  display: flex;
  font-size: 0.8rem;
}
.single-comment {
  background-color: white;
  padding: 1%;
  border-radius: 10px;
  margin-top: 2%;
}
.comment-content-section {
  max-height: 30vh;
  overflow-y: scroll;
}

.comment-content {
  color: #1d1d1d;
  font-size: 0.9rem;
  margin: 1%;
}

.comment-delete-btn {
  width: 15px;
  height: 15px;
  cursor: pointer;
}

.home-content {
  border-radius: 20px;
  margin: 10vh 10vw 55vh;
  box-shadow: 10px 10px 8px 10px #888888;
  padding: 2% 5% 5%;
  background-color: white;
}
