/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

/* .App {
  display: flex;
  flex-direction: column;
  align-items: center;
} */

/* Header */

.header {
  display: flex;
  justify-content: space-between;
  padding: 2% 2%;
  background-color: #805b87;
  color: whitesmoke;
  font-size: large;
  font-weight: 600;
  letter-spacing: 0.1rem;
  /* width: 100%; */
}

.header a {
  color: inherit;
  text-decoration: none;
}
.header-logo {
  width: 30%;
}
.header-list {
  display: flex;
  /* border: 2px solid red; */
  justify-content: space-between;
  margin: 0;
  width: 40%;
}
.header-list li {
  display: inline;
  flex-wrap: wrap;
  cursor: pointer;
}

/* Signup */

.box {
  border: 2px solid #805b87;
  width: 40%;
  margin: auto;
  margin-top: 5%;
}

.box-header {
  background-color: #805b87;
  padding: 3%;
  font-size: 1.3rem;
  color: whitesmoke;
  letter-spacing: 0.1rem;
}
.box-body {
  margin: 5%;
}
.box-body-top {
  display: flex;
  /* margin-left: 5%;
  margin-right: 5%; */
}

.box-body-bottom {
  margin-left: 3%;
}

.user-form {
  margin: 5%;
  font-size: 1.15rem;
  color: #1d1d1d;
}
.user-form label {
  display: block;
  margin-bottom: 4%;
  /* border: 2px solid red; */
}

.user-form label input {
  width: 90%;
  height: 100%;
  margin-top: 0;
  padding: 0.8rem;
  background-color: inherit;
  border: 0px;
  border-bottom: 1.3px solid #1d1d1d;
  outline: none;
  font-size: 1.15rem;
  /* border-bottom: 2px; */
}

.submit-btn {
  margin-top: 3%;
  margin-bottom: 3%;
  padding: 0.5rem 2rem;
  color: whitesmoke;
  font-size: 1.1rem;
  background-color: #805b87;
  outline: none;
  border: 0px;
  cursor: pointer;
}

.avatar {
  border-radius: 50%;
  width: 80px;
  height: 80px;
}

.profile-btn {
  width: 30px;
  margin-right: 1%;
  /* height: 30px; */
}

.profile-left {
  /* border: 2px solid cadetblue; */
  display: flex;
  justify-content: center;
  width: 20%;
}
.profile-mid {
  /* border: 2px solid blue; */
  width: 60%;
}
.profile-right {
  display: flex;
  /* border: 2px solid red; */
  align-items: center;
  justify-content: space-around;
  width: 20%;
  /* display: flex;
  justify-content: space-between; */
}

.profile-right img {
  cursor: pointer;
}

.posts {
  margin: 2% 20%;
}

.post-box {
  /* border: 2px solid #805b87; */
  border-radius: 20px;
  margin-top: 5%;
  box-shadow: 10px 10px 8px 10px #888888;
  padding: 2% 5% 5%;
  background-color: white;
}

.post-header {
  display: flex;
  justify-content: space-between;
}

.post-avatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
.post-header-left {
  width: 10%;
}

.post-header-mid {
  width: 90%;
}
.post-name {
  letter-spacing: 0.08rem;
  font-size: 0.9rem;
  font-weight: 600;
  color: #1d1d1d;
  text-transform: capitalize;
}
.post-time {
  letter-spacing: 0.05rem;
  font-size: 0.8rem;
  font-weight: 500;
  color: gray;
}

.post-content {
  margin: 1%;
  text-align: justify;
  letter-spacing: 0.01rem;
  font-size: 1rem;
  color: #1d1d1d;
  /* background-color: bisque; */
}
